.advantages {
    // background: #121B25;
    // .advantages__wrapper
    padding-top: 180px;

    &__wrapper {}

    // .advantages__title

    &__title {
        text-align: center;
        margin-bottom: 60px;
    }

    // .advantages__row

    &__row {
        display: flex;
        justify-content: space-between;
    }

    // .advantages__item

    &__item {
        max-width: 377px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__icon {
            width: 72px;
            height: 72px;
            border-radius: 50%;
            padding: 54px;
            margin-bottom: 36px;
            background: #132b32;

            img {
                position: relative;
                z-index: 5;
            }
        }

        &__subtitle {
            margin-bottom: 11px;
            color: #FFF;
            text-align: center;
            font-size: 26px;
            font-style: normal;
            font-weight: 600;
            line-height: 126%;
            letter-spacing: 0.26px;
            text-transform: capitalize;
        }

        &__text {
            color: #D6D6D6;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 170%;
        }
    }

    // .advantages__reviews

    &__reviews {}
}

.wrapper {}