.popular {
    padding: clamp(1.875rem, -0.489rem + 11.82vw, 10rem) 0;
    color: $textWhite;
    margin-bottom: 100px;
    background: #1a242f url('./src/img/Mask-popular.png') center center/cover no-repeat;
}

.popular__title {
    margin-bottom: 40px;
    color: $textWhite;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 126%;
    text-transform: capitalize;
}

.popular__slider {
    display: flex;
    flex-direction: column;
    gap: 27px;
}


.popular {
    position: relative;
    // .popular__slider

    &__slider {
        @media (max-width: 649px) {
            align-items: center;
        }
    }
}

.slider {

    // .slider__image

    &__image {
        img {
            max-width: 100%;
        }
    }

    // .slider__content

    &__content {
        display: flex;
        flex-direction: column;

        @media (max-width: $breakpoint768) {
            padding-top: 75px;
        }
    }

    // .slider__title

    &__title {
        color: #FFF;
        font-family: "Work Sans";
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: 126%;
        letter-spacing: 0.26px;
        text-transform: capitalize;
    }

    // .slider__description

    &__description {
        color: $mainText;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
    }

    // .slider__label

    &__label {
        margin-top: 27px;
        display: flex;
        gap: 20px;
    }

    // .slider__label-item

    &__label-item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 4px;
    }
}

.wrapper {
    position: relative;
}

.popular__slider__btn {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    border: 1px solid #FFF;
    display: flex;
    align-items: center;
    justify-content: center;

}

.swiper__buttons__wrap {
    display: flex;
    margin: auto;
    justify-content: space-between;
    position: absolute;
    width: 93vw;
    top: 36%;
    left: 0;
    right: 0;
    z-index: 5;

    @media (max-width: $breakpoint1200) {
        top: 10%;
        justify-content: flex-end;
        gap: 15px;
    }


    @media (max-width: 658px) {
        top: 52%;
        justify-content: space-between;
        gap: 15px;
    }
}

.popular__btn {
    display: flex;
    margin: 68px auto;
    text-align: center;
    padding: 22px 24px;
    max-width: 306px;
    max-height: 72px;
    flex-shrink: 0;

    cursor: pointer;
    color: #FFF;
    background: #1AA090;
    border: none;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;

    &:hover {
        background: #15786C;
        transition: all 0.8s ease-out;
    }
}