.companies {
    padding-bottom: 180px;
    margin: 0 auto;
    // .companies__title

    &__title {
        margin-bottom: 50px;
    }
}

.companie {


    // .companie__logo

    &__logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    // .companie__logo-item

    &__logo-item {
        margin: 5px;
    }
}