.header {
    color: $textWhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 180px;
    position: relative;
    overflow: visible;
}

.filter {}

.header__left {
    flex-basis: 50%;
    box-sizing: border-box;

    .header__title {
        color: $textWhite;
        font-family: Work Sans;
        font-size: 68px;
        font-weight: 600;
        line-height: 126%;
        text-transform: capitalize;
        //padding-top: 118px;
    }

    .header__text {
        color: $mainText;
        font-size: 18px;
        font-weight: 400;
        line-height: 170%;
        padding-top: 18px;
        //padding-right: 20px;
    }
}

.header__right {
    // flex-basis: 50%;
    box-sizing: border-box;

    img {
        max-width: 645px;
    }
}


.filter {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    color: #000;
    position: absolute;
    // padding: 15px;
    max-width: 889px;
    // height: 100px;
    bottom: 57px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.30);
    // .filter__item

    &__item {
        padding: 28px 40px;
        position: relative;
    }

    // .filter__item-type

    &__item-type {
        display: flex;
        align-items: flex-end;
    }

    &__item-value {
        color: $textBlack;
        font-size: 18px;
        font-weight: 600;
        line-height: 126%;
        text-transform: capitalize;
        padding-right: 5px;
    }

    &__btn {
        margin: 5px;
        background: $green;
        color: $textWhite;
        outline: none;
        border: none;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;

        &:hover {
            background: $greenHover;
            transition: all 0.8s ease-out;
        }
    }

}

.item__dropdown {
    display: none;
    position: absolute;
    z-index: 5;
    //color: $textWhite;
    //top: 15vh;
    top: 105%;
    left: 0;
    right: 0;
    background: $textWhite;
    transition: all 0.2s;
    box-shadow: 0 0 5px 1px #000;

    &-active {
        display: flex;
        flex-direction: column;
    }
}

// .item__dropdown-active {
//     display: flex;
//     flex-direction: column;

// }

.item {

    // .item__type-name

    &__type-name {
        color: $textGrey;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    // .item__type-icon

    &__type-icon {
        margin-left: 2px;
        transition: transform 0.2s;

        &-active {
            transform: rotateX(180deg);
        }
    }
}